<div class="container">
<h2>Liste des Classes </h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Capacite</th>
    <th>Annee Scolaire</th>
    <th>Enseignant Principal</th>
    <th *ngIf="autheService.hasRole('ADMIN')">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let classe of classes">
    <td>{{classe.id}}</td>
    <td>{{classe.nom}}</td>
    <td>{{classe.capacite}}</td>
    <td>{{classe.anneeScolaire}}</td>
    <td>{{"Enseignant Principal"}}</td>
    <td>
      <button (click)="updateClass(classe.id)" class="btn btn-info"> Update</button>
      <button (click)="deleteClasse(classe.id)" class="btn btn-danger" style="margin-left: 10px"> Delete</button>
      <button (click)="classeDetails(classe.id)" class="btn btn-secondary" style="margin-left: 10px"> View</button>
    </td>
  </tr>
  </tbody>
</table>
</div>
